<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan11.LanguageMapper">
  
  <resultMap id="languageResultMap" type="Language">
    <constructor>
      <idArg column="language_id" javaType="_integer"/>
      <arg column="name" javaType="String"/>
    </constructor>
    <result property="lastUpdate" column="last_update"/>
    <collection property="films" ofType="Film">
      <id property="id" column="film_id"/>
      <result property="title" column="title"/>
      <result property="lastUpdate" column="film_upd"/>
      <result property="specialFeatures" column="special_features"/>
    </collection>
  </resultMap>

  <select id="getLanguageById" parameterType="int" resultMap="languageResultMap">
    SELECT l.language_id, l.name, l.last_update,
           f.film_id, f.title, f.last_update as film_upd, f.special_features
    FROM language l
    LEFT OUTER JOIN film f on f.language_id = l.language_id
    WHERE l.language_id = #{id}
    ORDER BY f.film_id DESC
  </select>

</mapper>
