<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.test.koan05.Koan05Mapper">

  <select id="getCountryById" parameterType="int" resultType="Country">
    SELECT country_id as id, country, last_update as lastUpdate
    FROM country 
    WHERE country_id = #{id}
  </select>

  <select id="getAllCountries" resultType="Country">
    SELECT country_id AS id, country, last_update AS lastUpdate 
    FROM country
    ORDER BY country_id DESC
  </select>

  <select id="getAllCountriesMappedById" resultType="Country">
    SELECT country_id as id, country, last_update as lastUpdate
    FROM country
  </select>

</mapper>
