<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan13.ActorMapper">
  
  <resultMap id="actorMapper" type="Actor">
    <constructor>
      <idArg column="actor_id"  javaType="int"/>
      <arg column="first_name"  javaType="String"/>
      <arg column="last_name"   javaType="String"/>
      <arg column="last_update" javaType="Date"/>
    </constructor>
  </resultMap>
  
  <select id="getActorById" parameterType="int" resultMap="actorMapper">
    SELECT actor_id, first_name, last_name, last_update
    FROM actor
    WHERE actor_id = #{id}
  </select>
  
  <!-- TODO: fill in the parameterType -->
  <select id="getActorByRange" parameterType="???" resultMap="actorMapper">
    SELECT actor_id, first_name, last_name, last_update
    FROM actor
    <!-- TODO: fill in the parameter names -->
    WHERE actor_id BETWEEN #{???} AND #{???}
  </select>
  
</mapper>
