<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- TODO: fill in namespace -->
<mapper namespace="???">
  <resultMap id="addressResultMap" type="Address">
    <constructor>
      <!-- TODO: fill in the constructor args for an Address object here, making sure
                 to specify the javaType if/where necessary or desired -->
    </constructor>
    <!-- TODO: reference the cityResultMap resultMap -->
    <association property="city" resultMap="???"/>
  </resultMap>  
  
  <select id="getAddressById" parameterType="int" resultMap="addressResultMap">
    SELECT a.address_id, a.address, a.address2, a.district, a.postal_code, a.phone,
           ci.city_id, ci.city,
           co.country_id, co.country
    <!-- TODO: do a three table join (ideally using ANSI SQL join syntax) to do "eager loading" -->
    WHERE a.address_id = #{id}
  </select>
</mapper>
