<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan13.AddressMapper">
  <resultMap id="addressResultMap" type="Address">
    <constructor>
      <idArg column="address_id" javaType="int"/>
      <arg column="address" javaType="String"/>
      <arg column="address2" javaType="String"/>
      <arg column="district" javaType="String"/>
      <arg column="postal_code" javaType="String"/>
      <arg column="phone" javaType="String"/>
    </constructor>
    <association property="city" resultMap="net.thornydev.mybatis.koan.koan13.CityMapper.cityResultMap"/>
  </resultMap>  
  
  <select id="getAddressById" parameterType="int" resultMap="addressResultMap">
    SELECT a.address_id, a.address, a.address2, a.district, a.postal_code, a.phone, a.last_update,
           ci.city_id, ci.city,
           co.country_id, co.country
    FROM address a
    JOIN city ci ON a.city_id = ci.city_id
    JOIN country co ON ci.country_id = co.country_id
    WHERE a.address_id = #{id}
  </select>
</mapper>