<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan22.Koan22Mapper">

  <resultMap id="filmWithCategoriesMap" type="FilmWithCategories">
    <!-- TODO: write the ResultMap to support the getFilmById query -->
  </resultMap>

  <select id="getFilmById" parameterType="int" resultMap="filmWithCategoriesMap">
    <!-- TODO: write the three table join between film, film_category
               and category in order to extract a FilmWithCategories
               object with a List<Category> in it -->
  </select>

  <delete id="deleteAllCategoriesForFilm" parameterType="FilmWithCategories">
    DELETE FROM film_category
    WHERE film_id = #{id} 
  </delete>

  <select id="getCategoryByName" resultType="Category" parameterType="String">
    SELECT category_id AS id, name
    FROM category
    WHERE name = #{name}
  </select>

  <insert id="addCategoryForFilm">
    INSERT INTO film_category (film_id, category_id)
    <!-- TODO: This method will receive both a FilmWithCategories object and
               a Category object. Fill in the values clause to extract their
               respective ids. -->
    VALUES(???)
  </insert>

</mapper>
