<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan06.Koan06Mapper">

  <!-- TODO: fill in resultType -->
  <select id="getCountryCount" resultType="???">
    SELECT count(*) FROM country 
  </select>

  <!-- TODO: fill in resultType -->
  <select id="getCountryRange" resultType="???">
    SELECT country_id AS id, country, last_update AS lastUpdate 
    FROM country
    <!-- TODO: fill in the default parameter names -->
    WHERE country_id BETWEEN #{???} AND #{???}
  </select>

  <!-- TODO: fill in resultType -->
  <select id="getCountryRange2" resultType="???">
    SELECT country_id AS id, country, last_update AS lastUpdate 
    FROM country
    WHERE country_id BETWEEN #{id1} AND #{id2}
  </select>

  <!-- TODO: fill in resultType -->
  <!-- TODO: This one is called with a specify parameter type that 
             must be specified. (You may also want to declare a
             typeAlias for it.) -->
  <select id="getCountryRange3" resultType="???">
    SELECT country_id AS id, country, last_update AS lastUpdate 
    FROM country
    <!-- TODO: fill in param names -->
    WHERE country_id BETWEEN #{???} AND #{???}
  </select>

  <!-- TODO: fill in resultType -->
  <select id="getCountries" resultType="???">
    SELECT country_id as id, country, last_update as lastUpdate
    FROM country
  </select>

</mapper>
