<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan21.Koan21Mapper">

  <select id="selectLongFilmsByTitleOrRating" parameterType="Film" resultType="String">
    SELECT title FROM film
    WHERE length > 90
      <!-- make the next two clauses optional by using MyBatis dynamic SQL tag(s) -->
      AND title LIKE #{title}
      AND rating = '${rating}'
    ORDER BY length DESC
  </select>
  
  <select id="selectFilmByTitleRatingAndOrMinLength" parameterType="Film" resultType="String">
    SELECT title FROM film
    <!-- make the whole where clause and its parts optional by using MyBatis dynamic SQL tag(s) -->
    <!-- WHERE ... -->
        length > #{length}

        AND title LIKE #{title}

        AND rating = '${rating}'

  </select>
  
  <select id="selectFilmByRentalRates" resultType="String">
    SELECT title FROM film
    WHERE rental_rate IN
    <!-- use a dynamic SQL tag to loop over all the elements being passed in -->
  </select>

  <select id="selectFilmByRentalRates2" resultType="String">
    SELECT title FROM film
    <!-- make the whole where clause and its parts optional by using MyBatis dynamic SQL tag(s) -->
    <!-- WHERE ... -->
        rental_rate IN
    <!-- use a dynamic SQL tag to loop over all the elements being passed in -->
  </select>
  
  <update id="updateFilmIfNecessary" parameterType="Film">
    UPDATE film
    <!-- SET -->
    <!-- use dynamic sql clause(s) to optionally update title, rental_duration and/or rental_rate -->
    WHERE film_id = #{id}
  </update>

  <select id="getFilmById" parameterType="_int" resultType="Film">
    SELECT film_id AS id, title, rental_duration, rental_rate
    FROM film
    WHERE film_id = #{id}
  </select>
</mapper>