<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis101.Mapper">

  <!-- TODO: select all rows as a list of hashmaps -->
  <!-- TODO: return them in sorted descending order of country_id -->
  <select id="selectAsListOfMaps" resultType="java.util.HashMap">
    select * from country
    order by country_id desc
  </select>

  <select id="selectFirstCountryAsMap" resultType="hashmap">
    select * from country where country_id = 1
  </select>

  <select id="selectOneAsMapDynamic" parameterType="int" resultType="hashmap">
    select * from country where country_id = #{id}
  </select>

</mapper>