<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan02.Koan02Mapper">

  <!-- TODO: select all rows as a list of hashmaps -->
  <!--       return them in sorted descending order by country_id -->
  <select id="selectAsListOfMaps" resultType="???">    
  </select>

  <!-- TODO: fill in resultType -->
  <select id="selectFirstCountryAsMap" resultType="???">
    select * from country where country_id = 1
  </select>

  <!-- TODO: create select entry called "selectOneAsMapDynamic" -->
  <!--       it should take an id parameter to look up a country -->
  <!--       by country_id. You will also need to specify resultType -->
  
</mapper>