<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan26.Koan26Mapper">

  <!-- TODO: need to fill in a resultType or a resultMap -->
  <select id="getAllCountries" >
    SELECT country_id AS id, country AS name
    FROM country
  </select>
  
</mapper>
