<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.test.koan17.pg.Koan17Mapper">

  <resultMap id="filmInStockIdMap" type="FilmInStockId" autoMapping="true">
    <result column="film_in_stock" property="filmId"/>
  </resultMap>
  
</mapper>
