<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan08.Koan08Mapper">

  <update id="updateCountry" parameterType="Country">
    UPDATE country
    SET country = #{country}, last_update = #{lastUpdate}
    WHERE country_id = #{id}
  </update>

  <insert id="insertCountry" parameterType="Country">
    INSERT INTO country (country_id, country, last_update)
    VALUES (#{id}, #{country}, #{lastUpdate})
  </insert>

  <insert id="insertCountry2" parameterType="Country">
    <selectKey keyProperty="id" resultType="int" order="BEFORE">
      SELECT MAX(country_id) + 1 AS id FROM country
    </selectKey>
    INSERT INTO country (country_id, country, last_update)
	  VALUES (#{id}, #{country}, #{lastUpdate})
  </insert>

  <select id="getCountryCount" resultType="int">
    SELECT count(*) FROM country 
  </select>

  <select id="getMaxCountryId" resultType="int">
    SELECT MAX(country_id) FROM country 
  </select>

  <select id="getCountryById" resultType="Country">
    SELECT country_id AS id, country, last_update AS lastUpdate 
    FROM country 
    WHERE country_id = #{id}
  </select>

</mapper>
