<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.koan.koan03.Koan03Mapper">

  <select id="selectFirstCountry" resultType="net.thornydev.mybatis.koan.Country">
    <!-- TODO: fill in select clause to populate all fields of Country object -->
    SELECT ???
    FROM country 
    WHERE country_id = 1
  </select>

  
  <select id="selectAsListOfCountries" resultType="Country">
    <!-- TODO: fill in select clause to populate all fields of Country object -->
    SELECT ???
    FROM country
    ORDER BY country_id DESC
  </select>

  
  <select id="selectAsMapOfCountries" resultType="???">
    <!-- TODO: fill in select clause to populate all fields of Country object -->
    SELECT ???
    FROM country
  </select>

</mapper>