<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- TODO: fill in namespace -->
<mapper namespace="???">
  
  <resultMap id="languageResultMap" type="Language">
    <!-- TODO: fill in mappings for Language -->

    <!-- TODO: create a collection mapping for the list of Films for a Language -->
    <!-- NOTE: only the id, title, lastUpdate and specialFeatures fields are required
               (by the unit test), but you can add more if you'd like -->
    <collection/>
  </resultMap>

  <select id="getLanguageById" parameterType="int" resultMap="languageResultMap">
    SELECT l.language_id, l.name, l.last_update,
           f.film_id, f.title, f.last_update as film_upd, f.special_features
    <!-- TODO: finish SQL that joins the language table and the film table -->
  </select>

</mapper>
