<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.test.koan16.pg.Koan16Mapper">
  
  <select id="callFilmInStockWithHashMaps" parameterType="hashmap" 
          resultType="hashmap" statementType="PREPARED">
    SELECT film_in_stock( #{filmId}, #{storeId} )
  </select>
  
  <resultMap id="filmInStockIdMap" type="FilmInStockId">
    <result column="film_in_stock" property="filmId"/>
  </resultMap>
  
  <select id="callFilmInStock" parameterType="FilmInStockParam" 
          resultMap="filmInStockIdMap" statementType="PREPARED">
    SELECT film_in_stock( #{filmId}, #{storeId} )
  </select>
  
  <select id="callFilmInStock2" parameterType="FilmInStockParam" 
          resultType="int" statementType="PREPARED">
    SELECT film_in_stock( #{filmId}, #{storeId} )
  </select>
  
  <select id="inventoryInStore" parameterType="int" resultType="String"
          statementType="PREPARED">
    SELECT * FROM inventory_in_stock(#{id})
  </select>

  <select id="inventoryInStoreBoolean" parameterType="int" resultType="Boolean"
          statementType="PREPARED">
    SELECT inventory_in_stock(#{id})
  </select>

</mapper>
