<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thornydev.mybatis.test.koan24.Koan24Mapper">

	<update id="createTable">
		CREATE TABLE IF NOT EXISTS
		instrument (
		source_id VARCHAR UNIQUE NOT NULL,
		target_id BIGINT AUTO_INCREMENT PRIMARY KEY NOT NULL ,
		definition_message VARBINARY
		);
	</update>

	<update id="removeTable">
		DROP TABLE IF EXISTS instrument;
	</update>

	<insert id="insertRecord" parameterType="InstInfo">
		INSERT INTO 
			instrument(source_id) 
		VALUES 
			(#{sourceId});
		<selectKey resultType="long" keyProperty="targetId" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

	<select id="selectRecord" parameterType="String" resultType="InstInfo">
		SELECT 
			source_id AS sourceId, 
			target_id AS targetId, 
			definition_message AS message
		FROM 
			instrument 
		WHERE 
			source_id = #{sourceId}
	</select>

	<update id="updateRecord" parameterType="InstInfo">
		UPDATE 
			instrument
		SET 
			definition_message = #{message}
		WHERE 
			source_id = #{sourceId}
	</update>

	<select id="getRecordCount" resultType="int">
		SELECT COUNT(*) FROM instrument 
	</select>
	
	<select id="getRecordList" resultType="InstInfo">
		SELECT 
			source_id AS sourceId, 
			target_id AS targetId, 
			definition_message AS message
		FROM 
			instrument 
	</select>

	<select id="getListSourceId" resultType="String">
		SELECT source_id FROM instrument 
	</select>

	<select id="getRecordListBySourceId" resultType="InstInfo">
		SELECT 
			source_id AS sourceId, 
			target_id AS targetId, 
			definition_message AS message
		FROM
		  	instrument
		WHERE  
	      	source_id IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
			  #{item}
			</foreach>
	</select>

</mapper>
